ck-app {
	display: flex;
	container: app / size;
	width: 100%;
	height: 100%;
	max-width: 800px;
	max-height: 800px;
	user-select: none;
	font-family: sans-serif;

	--nav-size: 64px;
	--chord-size: 48px;

	@media (orientation: landscape) { flex-direction: row; }
	@media (orientation: portrait) { flex-direction: column; }

	main {
		flex: auto;
		@container app (orientation: portrait) { overflow-y: auto; }
		@container app (orientation: landscape) { overflow-x: auto; }
	}

	nav {
		flex: 0 0 var(--nav-size);
		display: flex;

		@media (orientation: landscape) { flex-direction: column; }
		@media (orientation: portrait) { flex-direction: row; }

		a {
			flex: 1 1 0;
			border: 1px solid black;
			text-decoration: none;

			display: flex;
			flex-direction: column;
			align-items: center;
			justify-content: space-around;

			span {
				font-size: 150%;
			}
		}

	}
}
