ck-chords {
	height: 100%;
	&:not([hidden]) { display: flex; }
	flex-direction: column;

	header {
		flex: none;
		display: flex;

		justify-content: space-between;
	}

	ck-layout {
		flex: auto;
	}
}
