ck-layout {
	container: layout / size;

	&[type=fifths] {
		position: relative;
		--sx: 1;
		--sy: 1;

		@container app (orientation: portrait) {
			--sy: calc((100cqh - var(--nav-size)) / 100cqw) * 0.9;
		}

		@container app (orientation: landscape) {
			--sy: calc((100cqw - var(--nav-size)) / 100cqh) * 0.9;
		}

		ck-chord {
			position: absolute;
			--angle: calc(360deg/12 * var(--index) - 90deg);
			--dx: cos(var(--angle)) * var(--r) * var(--sx);
			--dy: sin(var(--angle)) * var(--r) * var(--sy);

			left: calc(50cqw + var(--dx) - var(--chord-size)/2);
			top: calc(50cqh + var(--dy) - var(--chord-size)/2);

			&[type=major] { --r: 43cqmin; }
			&[type=minor] { --r: 28cqmin; }
		}
	}

	&[type^=triads] {
		display: flex;

		@container app (orientation: portrait) { flex-direction: column; }
		@container app (orientation: landscape) { flex-direction: row; }

		align-items: center;
		justify-content: space-evenly;
	}
}

/*
  min display with 384px, chord 48px ->
    major --r = 43cqmin
	minor --r = 28cqmin
*/
