ck-song {
	padding: 1rem;
	&:not([hidden]) { display: flex; }
	flex-wrap: wrap;
	gap: 1rem;

	&:empty::before {
		content: "No chords added so far. Add them using the chord whell menu.";
		display: block;
	}
}
